h1 {
  color: gray;
  margin: 50px;
  background-color: black;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-underline-position: below;
}

body {
  background-color: blue;
}

button{
  height:50px; 
  width:80px; 
  margin: -50px -25px; 
  position: fixed;
  top:80%; 
  left:50%;
}